<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2009-2-4</string>
	<string>2009-2-5</string>
	<string>2009-3-12</string>
	<string>2009-8-23</string>
	<string>2010-9-20</string>
	<string>2010-9-21</string>
	<string>2010-9-25</string>
	<string>2010-9-4</string>
	<string>2010-10-1</string>
	<string>2010-10-4</string>
</array>
</plist>
